.araks {
	.half-img-text {
		background-color: $araks-teal;
	}

	.content-3 {
		background-color: $araks-light-peach;
	}

	.section-5 {
		text-align: center;
		padding: 5% 0;
	}

	.section-6 {
		background-color: $araks-peach;
	}
}