// --------
// Headings
// --------

h1 {
	padding-top: 15px;
	margin: 0;
}

h2, 
h3, 
h4 {
	margin: 0;
}

// --------------------
// Style Guide Classes
// --------------------

.header {
	font-family: $font-aktiv;
	font-weight: 500;
	font-size: 14px;
	font-size: 1.4rem;
	text-transform: uppercase;
	margin: 0 0 20px;
	letter-spacing: 1px;

	@include breakpoint ($break-small) {
	 	font-size: 22px;
	 	font-size: 2.2rem;
	}

	@include breakpoint ($break-medium) {
		font-size: 16px;
		font-size: 1.6rem;
		margin: 0 0 10px;
	}
}

.title {
	font-family: $font-aktiv;
	font-weight: 100;
	font-size: 36px;
	font-size: 3.6rem;
	margin-top: 0;
	text-align: center;

	@include breakpoint ($break-small) {
		font-size: 76px;
		font-size: 7.6rem;
	}
}

.promo-body {
	font-family: $font-chron-disp;
	font-weight: 300;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.2;
	margin: 0;

	@include breakpoint ($break-small) {
		font-size: 28px;
		font-size: 2.8rem;
	}

	@include breakpoint ($break-medium) {
		font-size: 32px;
		font-size: 3.2rem;
	}
}

.promo-head {
	font-family: $font-aktiv;
	font-weight: 100;
	font-size: 80px;
	font-size: 8rem;
	margin-top: 0;
	padding-top: 15px;

	@include breakpoint ($break-medium) {
		font-size: 100px;
		font-size: 10rem;
	}
}

.body-text {
	font-family: $font-chron-disp;
	font-weight: 400;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.2;
	margin: 0;

	@include breakpoint ($break-small) {
		font-size: 42px;
		font-size: 4.2rem;
	}

	@include breakpoint ($break-medium) {
		font-size: 33px;
		font-size: 3.3rem;
	}
}

.utility {
	margin: 0;
	font-family: $font-aktiv;
	font-size: 28px;
	font-size: 2.8rem;

	@include breakpoint ($break-medium) {
		font-size: 12px;
		font-size: 1.2rem;
	}
}

.large-serif {
	font-family: $font-chron-disp;;
	font-weight: 200;
	font-size: 30px;
	font-size: 3rem;
	margin-top: 0;

	@include breakpoint ($break-small) {
		font-size: 56px;
		font-size: 5.6rem;
	}

	@include breakpoint ($break-medium) {
		font-size: 76px;
		font-size: 7.6rem;
	}
}

// --------
// Other
// --------

p,
li {
	margin: 0;
	font-family: $font-aktiv;
	font-size: 16px;
	font-size: 1.6rem;

	@include breakpoint ($break-small) {
	 	font-size: 26px;
	 	font-size: 2.6rem;
	}

	@include breakpoint ($break-medium) {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

a {
	text-decoration: none;
	color: $black;
	font-family: $font-aktiv;
	font-size: 16px;
	font-size: 1.6rem;

	@include breakpoint ($break-small) {
	 	font-size: 26px;
	 	font-size: 2.6rem;
	}

	@include breakpoint ($break-medium) {
		font-size: 16px;
		font-size: 1.6rem;
	}

	&:hover {
		color: $dark-text;
		opacity: .8;
	}
}

.italic {
	font-style: italic;
}